# This is an example of a minimal* (standard) config file for the lammps_multistate_rods model
#
# *it is minimal in the sense that only necessary parameters are set, no optional ones, not in
#  the sense that the model couldn't be simpler (for example just one state etc.)

rod_states = ('soluble_state', 'beta_state')
state_structures[0] = '111112|333'
state_structures[1] = '111111|444'

int_types = {'patch' : ('cosine/squared', 1.75*rod_radius),
             'tip' : ('cosine/squared', 1.0*rod_radius, 'wca'),
             vx : ('lj/cut', 0.0)}

eps[(1,1)] = eps[(1,2)] = eps[(1,3)] = eps[(1,4)] = (5.0, vx)
eps[(2,3)] = eps[(3,3)] = eps[(3,4)] = (5.0, vx)
eps[(2,2)] = (3.25, 'tip') # soluble-soluble tip interaction
eps[(2,4)] = (6.5, 'patch') # soluble-beta interaction
eps[(4,4)] = (30.0, 'patch') # beta-beta interaction

trans_penalty[(0,1)] = 15.0 # soluble-beta transition